<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ea8753952e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Emilia | about</title>
</head>
<body class="about">
    <header class="header--orizontal">
        <nav class="header--orizontal-menu">
            <ul>
                <li><a href="/">| Home |</a></li>
                <li><a href="/about">About |</a></li>
                <li><a href="/music">Music |</a></li>
                <li><a href="/contact">Contact |</a></li>
            </ul>
        </nav>
        <nav class="header--orizontal-redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>About <br>Emilia //</h1>
        <section>
            <h3>"seattle-based pop star makes her <br>indie debut with a hauntingly beutiful albun"</h3>
            <p>- Jonh Tirckle, music today post</p>
        </section>
        <section>
            <h3>"Emilia cole is one of the <br>scene's breakout stars"</h3>
            <p>- Jonh Tirckle, music today post</p>
        </section>
    </main>
</body>
</html>